 /********************************************************
    MEDIA QUERY TABLET
 **********************************************************/
 @media screen and (max-width: 768px) {

    /* ---------header left---------- */
.header-main-profile{
    width: 10%;
 }
   
/* ---------header right---------- */
.header-user-chat{
    width: 90%;
}

/* *********************************************** */
/* ---- CHAT LEFT -------> */
.container-left{
    width: 10%;
}
.notifications,
.find {
    display: none;
}
.chat-left{
    height: calc(500px - 40px) ;
}


}


 /********************************************************
    MEDIA QUERY MOBILE
 **********************************************************/

@media screen and (max-width: 480px){

/* ---------header left---------- */
.header-main-profile{
    width: 0;
    border: 0;
 }
   
/* ---------header right---------- */
.header-user-chat{
    width: 100%;
}
/* *********************************************** */
/* -- CHAT LEFT -- */

.container-left{
    display: none;
}

}