/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container-main {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    min-height: 500px;
    /* degug */
    background-color: aquamarine;
}

/************************************************
    UTILITIES
 ************************************************/

.flex {
    display: flex;
}


/* ************************************************ */
/* COMMON */
.container-left,
.header-main-profile {
    width: 30%;
}

.container-right,
.header-user-chat {
    width: 70%;
}


/* ************************************************ */
/* --------------- HEADER ------------------------ */
header {
    height: 40px;
}

/* Header left */
.header-main-profile {
    /* debug */
    background-color: lightgray;
    border-right: 1px solid rgb(148, 147, 147);
}

/*  Header right */
.header-user-chat {
    /* debug */
    background-color: lightgray;
}

/* ************************************************ */
/* ------- NOTIFICATIONS LEFT ------- */
.notifications {
    height: 50px;
    background-color: blue;
}

/* ----- LABEL LEFT----- */
.find {
    /* debug */
    background-color: beige;
    height: 40px;
}

/* ----- CHAT LEFT----- */
.chat-left {
    width: 100%;
    overflow: auto;
    /* debu */
    height: calc(500px - 130px);
    background: peru;
}

/* ----- CHAT RIGHT----- */

.chat-right {
    overflow: auto;
    /* debug */   
   background-color: rgba(137, 43, 226, 0.541);
   height: 420px;
}

/* ----- FOOTER (RIGHT)----- */

.footer{
    height: 40px;
    background-color: blanchedalmond;
}
