/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-color: #EAEAEA;
    --notificatins: #8EDAFC;
    --footer: #F3EEEA;
    --message2: #D5F9BA;
}

img {
    max-width: 100%;
}

body {
    font-family: Helvetica, sans-serif;
}

/************************************************
        CONTAINER E WRAPPER MAIN
 ************************************************/

.wrapper-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #f0f7f6, #DCDBD1, #DCDBD1 90%, #009688 10%);
}

.container-main {
    width: 80%;
    height: 90vh;

}

/************************************************
    UTILITIES
 ************************************************/
.flex {
    display: flex;
    flex-shrink: none;
}

.flex-column{
    flex-direction: column;
}

.pdg-20 {
    padding: 20px;
}

.pdg-10 {
    padding: 10px;
}

.pdg-5 {
    padding: 5px;
}

.pdg-right {
    padding-right: 5px;
}

.space-btw {
    justify-content: space-between;
}

.al-center {
    align-items: center;
}

.gray {
    color: gray;
}

.underline {
    text-decoration: underline;
}


/* ************************************************ */
/* COMMON */
.container-left,
.header-main-profile {
    width: 300px;
}

.container-right,
.header-user-chat {
    width: calc(100% - 300px);
}

/* ************************************************ */
/* --------------- HEADER ------------------------ */
header {
    height: 50px;
}

/* Header left */
.header-main-profile {
    padding: 5px;
}

.header-main-profile {
    background-color: var(--header-color);
    /* debug */
    border-right: 1px solid rgb(148, 147, 147);
}

.container-profile-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-profile {
    width: 20%;

}

.img-main-profile {
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
    /* object-fit: cover; */
}



/*  ------- Header right --------- */
.header-user-chat {
    background-color: var(--header-color);
    padding: 5px;
}

.user {
    align-items: center;
}



.img-user {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.name-user {
    font-size: 0.8rem;
}


/* **************************************************** */
/* ------- NOTIFICATIONS LEFT ------- */
.notifications {
    display: flex;
    height: 50px;
    background-color: var(--notificatins);
    padding: 5px;
}

.fa-bell-slash {
    background-color: white;
    padding: 10px 10px;
    border-radius: 50%;
    color: var(--notificatins);
    font-size: 1rem;
}

.text-notifications {
    padding-left: 5px;
    font-size: 0.9rem;
}

/* ----- LABEL LEFT----- */
.search {
    /* debug */
    background-color: #FAFAFA;
    height: 40px;
    padding: 5px;
}

.find {
    border: 0;
    padding: 5px 5px 5px 30px;
    font-size: 1rem;
    width: 87%;
}

.search-gray {
    width: 28px;
    height: 28px;
    color: gray;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
}

/* ----- CHAT LEFT----- */
.chat-left {
    width: 100%;
    overflow: auto;
    /* debu */
    height: calc(90vh - 140px);
    background: peru;
}

/* **************************************************** */

/* ----- CHAT RIGHT----- */
.chat-right {
    overflow: auto;
    background-image: url(../img/mine.jpg);
    height: calc(90vh - 90px);
    padding: 50px;
}

.message1,
.message2 {
    border-radius: 10px;
    width: 60%;
    margin: 5px;
    padding: 5px;
}

.message1 {
    background-color: white;
    
}

.message2 {
    background-color: var(--message2);
    position: relative;
    left: 30%;
    
    
}
.sent{
   display: block;
}

.icone-mex{
    align-items: center;
    padding-left: 5px;
}

.hours{
    font-size: 0.7rem;
}
.received{
    display: block;
}




/* **************************************************** */
/* ----- FOOTER (RIGHT)----- */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--footer);
}

.keyboard {
    border: 0;
    font-size: 1.2rem;
    width: 85%;
    padding: 5px;
    border-radius: 5px;
}

.fa-face-smile {
    color: gray;
    font-size: 1.2rem;
    padding-right: 20px;
}